.dialogs {
display: grid;  /*наша колонка создана по типу grid*/
grid-template-columns: 2fr 10fr; /*одна колонка составляет 2 фракции, другая 10 фракций*/

}

.dialogItems {
    padding: 10px;
}

.dialogItems .active {
    color: #e74107;
}


.dialog {

}

.messeges {
    padding: 10px;

}